/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #110b3c;
  color: #e6e6e6; }

aside {
  padding-top: 100px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: fixed;
  width: 280px;
  min-height: 100%;
  background-color: #060412;
  border-right: 1px solid #1c1229; }
  aside a {
    color: #9082e6;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s ease-in; }
    aside a:hover {
      color: #c6bddf; }
  aside button:focus {
    outline: none; }

.logo {
  padding: 2em 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #1c1229; }
  .logo h1 {
    color: #cccae2;
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.015em;
    text-transform: lowercase;
    cursor: default; }
    .logo h1:hover {
      color: white; }

.toggle-type {
  padding: 20px;
  width: 100%;
  font-size: 0.92em;
  text-align: center;
  border-bottom: 1px solid #1c1229; }
  .toggle-type a {
    padding: 8px 10px;
    font-weight: bold;
    letter-spacing: 0.04em;
    color: gray; }
    .toggle-type a:hover {
      color: white;
      background-color: #231938;
      border-radius: 3px; }
  .toggle-type .active, .toggle-type .active:hover {
    color: black;
    background-color: #f09d18;
    border-radius: 3px;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.22) inset; }

.search {
  margin: 4px 2px;
  padding: 7px;
  background: #f09d18;
  font-size: 0.72em;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.22) inset;
  transition: 0.12s ease-out; }
  .search:hover {
    background-color: #f8d090;
    transition: 0.12s ease-out; }

.search-nav, .regenerate-nav, .sources-nav {
  padding: 1.3em 1.4em;
  width: 100%;
  background-color: #0d0927;
  border-bottom: 1px solid #1c1229; }
  .search-nav h2, .regenerate-nav h2, .sources-nav h2 {
    margin-bottom: 0.5em;
    color: #adadb0; }

.description {
  padding: 1.1em;
  font-size: 1em;
  line-height: 1.31; }
  .description a:last-child {
    display: inline-block;
    line-height: 17px;
    border-bottom: 2px solid #f09d18; }

footer {
  padding: 12px 0;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 0.9em;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.03em;
  background-color: #060412;
  border-top: 1px dashed #1c1229; }
  footer svg {
    margin-bottom: -2.5px;
    visibility: hidden;
    fill: transparent;
    transition: 0.1s ease-in; }
  footer a {
    color: gray; }
    footer a:hover svg {
      visibility: visible;
      fill: #c6bddf; }
  footer .overlap {
    margin-left: -20px;
    position: relative;
    left: 20px; }

main {
  padding-top: 196px;
  padding-left: 300px; }

/*# sourceMappingURL=main.css.map */
