body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #e6e6e6;
  margin: 0 0 200px 0;
  background: #110b3c url(https://cdn.rawgit.com/agarun/ed6c9621f6ade8ee89e3685cd5a0eeff/raw/1f0a39094e0f2edef95175eb06a03f01779c89bd/footer.svg);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 100px;
}

canvas {
  display: block;
  padding: 24px;
  margin: 0 auto;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  font-weight: 700;
  color: #f6f6f6;
  margin: 0;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.main-panel h1 {
  font-weight: 400;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.74em;
  font-weight: 700;
  color: #f6f6f6;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #f09d18;
  text-decoration: none;
  text-transform: uppercase;
}

h3::after {
  content: '\0020\2014';
}

a {
  color: #9082e6;
  font-weight: 500;
  text-decoration: none;
  border-bottom-color: transparent;
  transition: 100ms ease-in;
}

a:hover {
  color: #c6bddf;
}

.container {
  max-width: 1008px;
  padding: 0.6% 0 1% 0;
  margin: 0 auto;
}

.wrap-1 {
  background-color: #060412;

}

.main-panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;
  /*padding-top: 10px;
  padding-bottom: 20px;*/
}

.main-panel p {
  margin: 0;
  font-size: 1.1em;
}

.main-panel-column {
  flex-basis: 32%; /* SHOULD STRETCH */
  flex-shrink: 0;
  margin: 0 6px 0 6px;
}

.main-panel-column:first-child {
  align-self: center;
}

.main-panel-column:nth-child(2) {
  flex-basis: 54%;
  margin-top: 16px;
}

.btn-panel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.btn-panel-row {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 14px;
  width: 100%;
  /*padding: 8px 16px;*/
}

.btn-panel-row-text {
  max-width: 520px;
  margin-right: 8px;
  margin-bottom: 2px;
  align-self: center;
}

.btn-panel-row-text small {
  color: #9082e6;
  font-size: 0.9em;
  font-weight: bold;
}

.btn-panel-row:nth-child(3) .btn-panel-row-text small {
  font-size: 0.9em;
  font-weight: bold;
}

.btn-panel-row:nth-child(3) .btn-panel-row-text {
  align-self: center;
}

button {
  display: inline;
  background: #f09d18;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.74em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: normal;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin: 4px;
}

button:hover {
  /* TODO: ripple animation */
  background: #ffc05c;
  transition: 0.2s ease-out;
}

button:focus {
  /* TODO: :active effects */
  outline: none;
}

button.maze {
  width: 160px;
  height: 35px;
  padding: 12px 10px;
}

button.search {
  width: 112px;
  height: 35px;
  padding: 12px 10px;
  margin-right: 1px;
}

.flash {
  animation: flash linear 840ms 3;
}

@-webkit-keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .35; }
  100% { opacity: 1; }
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .35; }
  100% { opacity: 1; }
}

.readme {
  background: rgba(0, 0, 0, 0.49);
  /*border: 3px solid rgba(12, 23, 60, 0.9);*/
  border-radius: 6px;
  width: 680px;
  line-height: 1.55;
  margin: 50px auto;
  padding: 0 50px 50px 50px;
  box-shadow: 0 0px 20px 9px rgba(1, 1, 14, 0.12);
}

/* intro is diff color bg */

.readme h1 {
  padding-top: 1em;
  text-shadow: 2px 2px #04031d;
  /*border-bottom: 5px solid #8e650a;*/
}

.start {
  color: #80ee12;
}

.end {
  color: #f0197a;
}

code {
  font-family: 'Cousine', 'Courier New', monospace;
  font-size: 0.85em;
  letter-spacing: -0.002em;
  background: #cdbca9;
  color: #1c1b28;
  padding: 5px;
  padding-bottom: 3px;
  border-radius: 5px;
}

.icons {
  text-align: center;
}

.icons a {
  text-decoration: none;
  border-bottom-color: transparent;
  transition: 100ms ease-in;
  fill: #9082e6;
  margin: 20px 5px;
}

.icons a:hover {
  fill: #c6bddf;
}

.icons svg {
  margin-bottom: -1.5px;
}

footer {
  color: #110b3c;
}

footer p {
  text-align: center;
}

footer a {
  margin: 0 5px;
}
