body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #e6e6e6;
  margin: 0 0 200px 0;
  background: #25196e url(https://cdn.rawgit.com/agarun/ed6c9621f6ade8ee89e3685cd5a0eeff/raw/1f0a39094e0f2edef95175eb06a03f01779c89bd/footer.svg);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 100px;
}

canvas {
  display: block;
  padding-bottom: 10px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  font-weight: 500;
  color: #f6f6f6;
  margin: 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.74em;
  font-weight: 500;
  color: #f6f6f6;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #f09d18;
  text-decoration: none;
  text-transform: uppercase;
}

h3::after {
  content: '\0020\2014';
}

a {
  color: #9672a6;
  font-weight: 500;
  text-decoration: none;
  border-bottom-color: transparent;
  transition: 0.1s;
}

a:hover {
  border-bottom: 2px #9672a6 solid;
}

.canvas-wrapper {
  background-color: #120b3c;
  box-shadow: 0 10px 80px -2px rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 1008px;
  padding: 1.3% 0 1% 0;
  margin: 0 auto;
}

.main-panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;
  padding-bottom: 40px;
}

.main-panel-column {
  flex-basis: 240px;
  flex-shrink: 0;
  margin: 0 6px 0 6px;
}

.main-panel-column:not(#intro) {
  margin-top: 16px;
}

hr {
  /* TODO: display status above */
  width: 20%;
  height: 3px;
  border: 0;
  box-shadow: 0px -1px 0px 0px #000;
  background-color: #37315d;
  color: #5a516c;
  margin: 2em auto;
}

button {
  display: block;
  background: #f09d18; /* #ff9453 */
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  width: 120px;
  margin: 10px auto;
  padding: 8px;
  cursor: pointer;
  border: 0;
  border-radius: 1px;
}

button:hover {
  /* TODO: ripple animation */
  background: #ffc05c;
  transition: 0.2s ease-out;
}

button:focus {
  /* TODO: :active effects */
  outline: none;
}

.flash {
  animation: flash linear 840ms 3;
}

@-webkit-keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .35; }
  100% { opacity: 1; }
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .35; }
  100% { opacity: 1; }
}

.readme {
  background: rgba(12, 23, 60, 0.49);
  border: 1px solid #0c0a3b;
  border-radius: 6px;
  width: 720px;
  line-height: 1.52;
  margin: 50px auto;
  padding: 0 30px 15px 30px;
}

.readme h1 {
  padding-top: 1em;
  text-shadow: 2px 2px #04031d;
}

.start {
  color: #80ee12;
}

.end {
  color: #f0197a;
}

.footer {
  color: #120b3c;
}

.footer p {
  text-align: center;
}

.footer a {
  margin: 0 5px;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons a {
  text-decoration: none;
  border-bottom-color: transparent;
  transition: 100ms ease-in;
  fill: #9672a6;
  margin: 20px 5px;
}

.icons a:hover {
  fill: #c6bddf;
}

code {
  font-family: 'Roboto Mono', 'Courier New', monospace;
  letter-spacing: -0.01em;
  background: #ced8e2;
  color: #1c1b28;
  font-size: 0.8em;
  padding: 3px;
  border-radius: 2px;
  border: 1px solid #0c0a3b;
}
