footer {
  padding: 12px 0;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 0.9em;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.03em;
  background-color: $purple-black;
  border-top: 1px dashed $aside-borders;

  svg {
    margin-bottom: -2.5px;
    visibility: hidden;
    fill: transparent;
    transition: 0.1s ease-in;
  }

  a {
    color: gray;

    &:hover {
      svg {
        visibility: visible;
        fill: #c6bddf;
      }
    }
  }

  .overlap {
    margin-left: -20px;
    position: relative;
    left: 20px;
  }
}
